.form-d{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 840px;
    height: 677px;
    position: absolute;
    top: 120px;
    left: 292px;
    gap: 40px;
}
.form-part1-d{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 840px;
    height: 439px;
    gap: 15px;
}
.form-part1-1st{
    width: 224px;
    height: 34px;
}
.form-part1-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 158px;
    height:34px ;
    box-sizing: border-box;
    gap: 10;
}
.form-part1-h2{
    width: 158px;
    height: 14px;
    /* gap: 0px; */
}

.form-part1-h2 h2{
    font-family: Urbanist;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}
.form-part1-para{
    width: 158px;
    height: 10px;
    /* gap: 0px; */
    margin-top: 10px;
}
.form-part1-para p{
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;
    color: rgba(145, 145, 145, 1);
}
.form-part1-2nd{
    width: 840px;
    height: 390px;
   box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid rgba(205, 205, 205, 1)
}
.form-part1-2nd-1st{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 840px;
    height: 154px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(205, 205, 205, 1);
    /* padding:32px 0px 32px 32px; */
    gap:97px;
}
.form-part1-2nd-1st-right-part{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width:238px;
    height:88px;

}
.form-part1-2nd-1st-right-part-pic img{
     width: 88px;
     height: 88px;
     background: rgba(255, 255, 255, 1);
     border-width: 0px, 0px, 0px, 0px;
     border-style: solid;
     border-color: rgba(242, 240, 240, 1);
     border-radius: 50%;
}
.form-part1-2nd-1st-heading{
    display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
    width: 174px;
    height: 63px;
    box-sizing: border-box;
    gap: 2px;
}
.form-part1-2nd-1st-h2 h2{
    width: 156px;
    height: 6px;    
    font-family: Urbanist;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgba(0, 0, 0, 1);

}
.form-part1-2nd-1st-para p{
    width: 156px;
    height: 6px; 
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.8px;
    text-align: left;
    color: rgba(145, 145, 145, 1);
}
.form-part1-2nd-2nd{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 146px;
    height: 48px;
    border-radius: 8px 8px;
    padding: 11px 24px;
    background:  rgba(19, 158, 213, 1);
}
.form-part1-2nd-2nd button{
    border: none;
    outline: none;
    background: none;
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    letter-spacing: 0.005em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
 .form-part1-third{
    display: flex;
    flex-direction: column;
   justify-content: space-between;
    width: 840px;
    height: 234px;
    box-sizing: border-box;
    padding: 32px;
    gap: 24px;
}
.form-part1-2nd-inputs{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    width: 776px;
    height: 75px;
    gap: 24px;
}
.form-part1-2nd-input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 376px;
    height: 75px;
    gap: 7px;
}
.form-part1-2nd-input input{
    width: 376px;
    height: 38px;
    padding: 12px 24px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid rgba(205, 205, 205, 1);
    background: rgba(255, 255, 255, 1);
} 
.form-part1-2nd-inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 776px;
    height: 75px;
    gap: 24px;
}

 
/* Part Two */

.form-part2{
    display: flex;
    flex-direction: column;
    width: 840px;
    height: 198px;
    box-sizing: border-box;
    gap: 15px;
}
.form-part2-heading{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
    width: 163px;
    height: 54px;
    padding : 0px 677px 0px 15px;
    
}
.form-part2-h2{
    width: 163px;
    height: 14px;
    margin-bottom: 15px;
}
.form-part2-h2 h2{
    font-family: Urbanist;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}
.form-part2-para{
    width: 157px;
    height: 10px;
    margin-bottom: 15px;
}
.form-part2-para p{
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;
    color: rgba(145, 145, 145, 1);
}
.form-part2-2nd{
    display: flex;
    width: 840px;
    height: 149px;
    border-radius: 8px;
    padding: 32px;
    box-sizing: border-box;
    gap: 24px;
    border: 1px solid rgba(205, 205, 205, 1)
}
.form-part2-2nd-inner-d{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 458;
    height: 85;
    gap: 18px;
}
.form-part2-2nd-para{
    width: 458px;
    height: 23px;
    margin-bottom: 18px;
}
.form-part2-2nd-para p{
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.2px;
    text-align: left;
    color: rgba(0, 0, 0, 1); 
}
.form-part2-2nd-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 259px;
    height: 44px;
    border-radius: 8px;
    padding: 12px 24px;
    background: rgba(19, 158, 213, 1);
}
.form-part2-2nd-btn button{
    border: none;
    background: none;
    outline: none;
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 600;
    line-height: 20.3px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

@media screen and (min-width:1280px) and (max-width:1440px) {
    .form-d{
        max-width: 840px;
        height: 677px;
    }
    .form-part1-d ,.form-part2 {
        width: 100%;
    }
    .form-part1-2nd, .form-part2-2nd {
        width: 100%;
        padding: 24px;
    }
} 

@media screen and (min-width:768px) and (max-width:1280px) {
    .form-d{
        max-width: 740px;
        height: 577px;
        left: 272px;
    }
    .form-part1-d ,.form-part2 {
        width: 100%;
    }
    .form-part1-2nd, .form-part2-2nd {
        width: 100%;
        padding: 24px;
    }
    .form-part1-2nd-1st{
        width: 740px;
    }
    .form-part1-1st{
        width: 200px;
        height: 34px;
    }
    .form-part1-2nd-1st{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 154px;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(205, 205, 205, 1);
        /* padding:32px 0px 32px 32px; */
        gap:97px;
    }
    .form-part1-2nd-1st-right-part{
        display: flex;
        justify-content: center;
        align-items: center;
        width:248px;
        height:88px;
    
    }
    .form-part1-2nd-1st-heading{
        margin-bottom: 30px;
    }
    .form-part1-2nd-1st-right-part-pic img{
         width: 60px;
         height: 60px;
         border-radius: 50%;
    }

    .form-part1-2nd-1st-h2 h2{  
        font-size: 20px;
    }
    .form-part1-2nd-1st-para p{
        font-size: 12px;
       
    }
    .form-part1-2nd-2nd{
        width: 120px;
        height: 48px;
        padding: 5px 12px;
    }
    .form-part1-third{
        width: 740px;   
    }
    .form-part1-2nd-inputs ,.form-part1-2nd-inputs{
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: space-between;
        align-items: center;
        width: 640px;

    }
    .form-part1-2nd-input{
        width: 276px;
    }
    .form-part1-2nd-input input{
        width: 276px;
    } 
    .form-part2{
        display: flex;
        flex-direction: column;
        width: 740px;
        height: 150px;
        box-sizing: border-box;
        gap: 15px;
    }
    .form-part2-2nd{
        display: flex;
        width: 740px;
        height: 149px;
        border-radius: 8px;
        padding: 32px;
        box-sizing: border-box;
        gap: 24px;
        border: 1px solid rgba(205, 205, 205, 1)
    }
    .form-part2-2nd-inner-d{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 400;
        height: 85;
        gap: 18px;
    }
    .form-part2-2nd-para{
        width: 400px;
        height: 23px;
        margin-bottom: 18px;
    }
    .form-part2-2nd-para p{
        font-family: Urbanist;
        font-size: 12px;
        font-weight: 500;
        line-height: 23.2px;
        text-align: left;
        color: rgba(0, 0, 0, 1); 
    }
    .form-part2-2nd-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 44px;
        padding: 7px 12px;
    }
    .form-part2-2nd-btn button{
        border: none;
        background: none;
        outline: none;
        font-family: Urbanist;
        font-size: 12px;
    }
} 


@media screen and (min-width:480px) and (max-width:766px) {
    .form-d{
        max-width: 600px;
        height: 477px;
        top: 220px;
        left: 232px;
    }
    .form-part1-d ,.form-part2 {
        width: 100%;
    }
    .form-part1-2nd, .form-part2-2nd {
        width: 100%;
        padding: 24px;
    }
    .form-part1-2nd-1st{
        width: 600px;
    }
    .form-part1-1st{
        width: 200px;
        height: 34px;
    }
    .form-part1-2nd-1st{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 154px;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(205, 205, 205, 1);
        /* padding:32px 0px 32px 32px; */
        gap:97px;
    }
    .form-part1-2nd-1st-right-part{
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        width:248px;
        height:88px;
    
    }
    .form-part1-2nd-1st-right-part-pic img{
         width: 60px;
         height: 60px;
         border-radius: 50%;
    }

    .form-part1-2nd-1st-h2 h2{  
        font-size: 20px;
    }
    .form-part1-2nd-1st-para p{
        font-size: 12px;
    }
    .form-part1-2nd-2nd{
        width: 120px;
        height: 48px;
        padding: 5px 12px;
    }
    .form-part1-third{
        width: 600px;   
    }
    .form-part1-2nd-inputs ,.form-part1-2nd-inputs{
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: space-between;
        align-items: center;
        width: 500px;

    }
    .form-part1-2nd-input{
        width: 200px;
    }
    .form-part1-2nd-input input{
        width: 200px;
    } 
    .form-part2{
        display: flex;
        flex-direction: column;
        width: 600px;
        height: 150px;
        box-sizing: border-box;
        gap: 15px;
    }
    .form-part2-2nd{
        display: flex;
        width: 600px;
        height: 149px;
        border-radius: 8px;
        padding: 32px;
        box-sizing: border-box;
        gap: 24px;
        border: 1px solid rgba(205, 205, 205, 1)
    }
    .form-part2-2nd-inner-d{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 400;
        height: 85;
        gap: 18px;
    }
    .form-part2-2nd-para{
        width: 300px;
        height: 23px;
        margin-bottom: 18px;
    }
    .form-part2-2nd-para p{
        font-family: Urbanist;
        font-size: 12px;
        font-weight: 500;
        line-height: 23.2px;
        text-align: left;
        color: rgba(0, 0, 0, 1); 
    }
    .form-part2-2nd-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 44px;
        padding: 5px 10px;
    }
    .form-part2-2nd-btn button{
        border: none;
        background: none;
        outline: none;
        font-family: Urbanist;
        font-size: 10px;
    }
} 


@media screen and (max-width:480px) {
    .form-d{
        max-width: 500px;
        height: 477px;
        top: 220px;
        left: 232px;
    }
    .form-part1-d ,.form-part2 {
        width: 100%;
    }
    .form-part1-2nd, .form-part2-2nd {
        width: 100%;
        padding: 24px;
    }
    .form-part1-2nd-1st{
        width: 500px;
    }
    .form-part1-1st{
        width: 200px;
        height: 34px;
    }
    .form-part1-2nd-1st{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 154px;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(205, 205, 205, 1);
        /* padding:32px 0px 32px 32px; */
        gap:97px;
    }
    .form-part1-2nd-1st-right-part{
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        width:248px;
        height:88px;
    
    }
    .form-part1-2nd-1st-right-part-pic img{
         width: 60px;
         height: 60px;
         border-radius: 50%;
    }

    .form-part1-2nd-1st-h2 h2{  
        font-size: 16px;
    }
    .form-part1-2nd-1st-para p{
        font-size: 10px;
    }
    .form-part1-2nd-2nd{
        width: 120px;
        height: 48px;
        padding: 5px 12px;
    }
    .form-part1-third{
        width: 500px;   
    }
    .form-part1-2nd-inputs ,.form-part1-2nd-inputs{
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: space-between;
        align-items: flex-start;
        width: 400px;

    }
    .form-part1-2nd-input{
        width: 180px;
    }
    .form-part1-2nd-input input{
        width: 180px;
    } 
    .form-part2{
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 150px;
        box-sizing: border-box;
        gap: 15px;
    }
    .form-part2-2nd{
        display: flex;
        width: 500px;
        height: 149px;
        border-radius: 8px;
        padding: 32px;
        box-sizing: border-box;
        gap: 24px;
        border: 1px solid rgba(205, 205, 205, 1)
    }
    .form-part2-2nd-inner-d{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 500;
        height: 85;
        gap: 18px;
    }
    .form-part2-2nd-para{
        width: 300px;
        height: 23px;
        margin-bottom: 18px;
    }
    .form-part2-2nd-para p{
        font-family: Urbanist;
        font-size: 10px;
        font-weight: 500;
        line-height: 23.2px;
        text-align: left;
        color: rgba(0, 0, 0, 1); 
    }
    .form-part2-2nd-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 44px;
        padding: 5px 10px;
    }
    .form-part2-2nd-btn button{
        border: none;
        background: none;
        outline: none;
        font-family: Urbanist;
        font-size: 10px;
    }
    .form-part1-2nd-2nd{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 146px;
        height: 48px;
        border-radius: 8px 8px;
        padding: 7px 20px;
        background:  rgba(19, 158, 213, 1);
    }
    .form-part1-2nd-2nd button{
        border: none;
        outline: none;
        background: none;
        font-family: Urbanist;
        font-size: 10px;
        font-weight: 400;
        line-height: 25.6px;
        letter-spacing: 0.005em;
        text-align: left;
        color: rgba(255, 255, 255, 1);
    }
} 